# Configuração do servidor
server:
  port: 8082
  servlet:
    context-path: /api
  compression:
    enabled: true

spring:
  datasource:
    url: jdbc:postgresql://db:5432/investment_db
    username: user
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
    template:
      retry:
        enabled: true
        initial-interval: 2s
        max-attempts: 3
        multiplier: 2.0

rabbitmq:
  exchange:
    investment: "investment.exchange"
  queue:
    investment-created: "investment.created.queue"
    investment-withdrawn: "investment.withdrawn.queue"
  routing-key:
    investment-created: "investment.created"
    investment-withdrawn: "investment.withdrawn"
